<footer>
    <ul class="meta">
        <li><span>Copyright {{ site.time | date: '%Y' }} Jordan Koschei</span></li>
        <li><a href="{{ site_url }}/colophon" {% if page.title == 'Colophon' %}class="current"{% endif %}>Colophon</a></li>
    </ul>
</footer>

<script>
    document.querySelectorAll('.js-only').forEach((el, i) => {
        el.classList.remove('js-only');
    });

    document.addEventListener('DOMContentLoaded', function() {
        
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modalImage");
            var captionText = document.getElementById("caption");
            var images = document.querySelectorAll('.prose img');
            var span = document.getElementsByClassName("close")[0];

            images.forEach(function(image) {
                image.onclick = function() {
                    if (window.innerWidth > 1200) {
                        modal.classList.add("show");
                        modalImg.src = this.src;
                        var nextElement = this.nextElementSibling;
                        if (nextElement && nextElement.tagName.toLowerCase() === 'figcaption') {
                            captionText.innerHTML = nextElement.innerHTML;
                            captionText.style.display = 'block';
                        } else {
                            captionText.innerHTML = '';
                            captionText.style.display = 'none';
                        }
                        document.body.style.overflow = 'hidden'; // Prevent scrolling
                    }
                }
            });

            span.onclick = function() { 
                modal.classList.remove("show");
                document.body.style.overflow = ''; // Restore scrolling
            }

            modal.onclick = function(event) {
                if (event.target === modal) {
                    modal.classList.remove("show");
                    document.body.style.overflow = ''; // Restore scrolling
                }
            }
    });
</script>