<head>
    <meta charset="utf-8">
    
    {% if page.title != 'Writing' %}
        {% if page.layout == 'home' %}
            <title>Jordan Koschei | Digital Product Design</title>
        {% endif %}
        <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% else %}
        {% if paginator.page == 1 %}
            <title>Writing | Jordan Koschei</title>
        {% else %}
            <title>Writing | Jordan Koschei |  Page {{ paginator.page }}</title>
        {% endif %}
    {% endif %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.url }}">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>