/*
  Adapted from Josh W Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    line-height: calc(1em + 0.5rem);
    margin: 0;
}

html {
  background-color: var(--color-bg);
  font-size: var(--font-size-base);
}

body {
    align-items: center;
    color: var(--color-text-body);
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    font-size: 1rem;
    gap: 3rem;
    margin: 0 auto;
    min-width: 375px;
    max-width: 75rem;
    padding: 3rem;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
  
a {
    color: var(--color-text-body);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    transition: color var(--motion), text-decoration var(--motion);
}
  
a:hover,
a:focus {
    text-decoration-color: var(--color-text-tertiary);
}
  
a.current {
    text-decoration-color: var(--color-primary);
}
  
::selection {
    background: var(--color-primary);
    color: var(--color-text-select);
    text-fill-color: var(--color-text-select);
    -webkit-text-fill-color: var(--color-text-select);
}
  
.js-only,
.hidden {
    display: none !important;
}

.jordan {
  color: var(--color-primary);
}

.okta {
    color: var(--color-brand-okta);
}

.emphasis {
    color: var(--color-brand-okta);
}

.heading {
    color: var(--color-text-secondary);
    font-size: 1.25rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap&text=<-->');
.arrow {
  font-family: 'Inter';
  letter-spacing: 0;
}

.button {
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-text-tertiary);
  color: var(--color-text-body);
  display: flex;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  width: auto;

  &::after {
    font-family: 'Inter';
    content: '->';
    color: var(--color-text-secondary);
    margin-left: 0.25rem;
    position: relative;
    transition: all var(--motion);
  }

  &:hover {
    border-color: var(--color-text-secondary);

    &::after {
      color: var(--color-text-body);
      left: 0.25rem;
    }
  }

  &:active {
    background-color: var(--color-bg-hover);
    border-color: var(--color-text-tertiary);
    box-shadow: inset 0 2px 2px var(--color-bg);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-left: -0.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 560px) {
  body {
    gap: 4rem;
    padding: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  body {
    gap: 6rem;
    padding: 6rem;
  }
}