.card {
    min-height: 12rem;
    width: 100%;
    background-size: cover;
    border-radius: var(--radius);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04),  0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding: 1.5rem;
    text-decoration: none;
    transition: box-shadow var(--motion-fast), background var(--motion-fast), transform var(--motion-fast), outline var(--motion-fast);
    will-change: transform;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5));
    opacity: 0.65;
    transition: opacity var(--motion-fast);
}

.card-okta {
    color: var(--color-brand-okta);
}

.card-dwell {
    color: var(--color-brand-dwell);
}

.card-agrilyst {
    color: var(--color-brand-agrilyst);
}

.card-spoke {
    color: var(--color-brand-spoke);
}

.card-connecthv {
    color: var(--color-brand-connecthv);
}

.card-ala {
    background: var(--color-brand-ala);
}

.card-digitalterroir {
    background: var(--color-brand-digitalterroir);
}

.card-writing {
    background: var(--color-brand-writing);
}

.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05);
    outline: 4px solid currentColor;
    transform: scale(1.025) translateZ(0);
    filter: grayscale(0%);

    &::after {
        opacity: 0.5;
    }
}

.card-content {
    line-height: 1;
}

.card-title,
.card-subtitle,
.card-eyebrow {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 1em;
    margin: 0;
    color: var(--color-text-body);
}

.card-subtitle {
    color: var(--color-text-secondary);
    line-height: 1.25;
}

.card-eyebrow {
    color: var(--color-text-body);
}

.card-logo {
    fill: #fff;
    flex-shrink: 0;
    height: 2.285714286rem;
    width: 2.285714286rem;
    transition: all var(--motion);
}

.card-eyebrow,
.card-content,
.card-logo {
    z-index: 1;
}

.cards-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}