@charset "UTF-8";
/*
  Adapted from Josh W Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap&text=<-->");
*, *::before, *::after {
  box-sizing: border-box; }

* {
  line-height: calc(1em + 0.5rem);
  margin: 0; }

html {
  background-color: var(--color-bg);
  font-size: var(--font-size-base); }

body {
  align-items: center;
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 1rem;
  gap: 3rem;
  margin: 0 auto;
  min-width: 28rem;
  max-width: 75rem;
  padding: 3rem;
  -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

a {
  color: var(--color-text-body);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  transition: all var(--motion); }

a:hover,
a:focus {
  text-decoration-color: var(--color-text-tertiary); }

a.current {
  text-decoration-color: var(--color-primary); }

::selection {
  background: var(--color-primary);
  color: var(--color-text-select);
  text-fill-color: var(--color-text-select);
  -webkit-text-fill-color: var(--color-text-select); }

.js-only,
.hidden {
  display: none !important; }

.jordan {
  color: var(--color-primary); }

.okta {
  color: var(--color-brand-okta); }

.heading {
  color: var(--color-text-secondary);
  font-size: 1.25rem; }

.arrow {
  font-family: 'Inter';
  letter-spacing: 0; }

.button {
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-text-tertiary);
  color: var(--color-text-body);
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  width: auto; }
  .button::after {
    font-family: 'Inter';
    content: '->';
    color: var(--color-text-secondary);
    margin-left: 0.25rem;
    position: relative;
    transition: all var(--motion); }
  .button:hover {
    border-color: var(--color-text-secondary); }
    .button:hover::after {
      color: var(--color-text-body);
      left: 0.25rem; }
  .button:active {
    background-color: var(--color-bg-hover);
    border-color: var(--color-text-tertiary);
    box-shadow: inset 0 2px 2px var(--color-bg); }

@media only screen and (min-width: 560px) {
  body {
    gap: 4rem;
    padding: 4rem; } }
@media only screen and (min-width: 900px) {
  body {
    gap: 6rem;
    padding: 6rem; } }
.container {
  max-width: 50rem;
  width: 100%; }

.top {
  display: flex;
  flex-direction: column;
  gap: 1.5em; }

.big {
  color: var(--color-text-secondary);
  font-size: 1.25em; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

@media only screen and (min-width: 560px) {
  .grid {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: calc(100% + 3rem); } }
@media only screen and (min-width: 900px) {
  .grid {
    flex-direction: row; } }
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem; }

.nav span {
  color: var(--color-text-secondary); }

.nav + .nav {
  margin-top: 1rem; }

.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: var(--color-border);
  padding-bottom: 3rem; }

.header-logo {
  color: var(--color-primary);
  font-weight: bold;
  flex-shrink: 0; }
  .header-logo:hover {
    text-decoration-color: var(--color-primary); }

@media only screen and (min-width: 560px) {
  .header {
    padding-bottom: 2rem;
    margin-top: -2rem; } }
@media only screen and (min-width: 900px) {
  .header {
    margin-top: -4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; } }
.grid-cards {
  flex-direction: column;
  flex-wrap: nowrap; }

.card {
  aspect-ratio: 10/4;
  background-color: var(--color-bg);
  background-size: cover;
  border-radius: var(--radius);
  border: 1px solid;
  border-color: var(--color-border);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 12rem;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  text-decoration: none;
  transition: all var(--motion); }

.card:hover {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25); }

.card img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  transition: all var(--motion); }
  .card img.light {
    display: none; }

.card:hover img {
  transform: scale(1.05);
  opacity: 0.75; }

.card-content {
  line-height: 1; }

.card-title {
  font-size: 1em;
  margin: 0; }

.card-eyebrow,
.card-subtitle {
  color: var(--color-text-secondary); }

.card-subtitle {
  line-height: 1.25; }

.card-logo {
  fill: var(--color-text-tertiary);
  flex-shrink: 0;
  height: 2.285714286rem;
  width: 2.285714286rem;
  transition: all var(--motion); }

.card:hover .card-logo.logo-spoke {
  fill: var(--color-brand-spoke); }

.card:hover .card-logo.logo-dwell {
  fill: var(--color-brand-dwell); }

.card:hover .card-logo.logo-agrilyst {
  fill: var(--color-brand-agrilyst); }

.card-eyebrow,
.card-content,
.card-logo {
  z-index: 1; }

.cards-button-container {
  width: 100%;
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 900px) {
  .grid-cards {
    flex-direction: row;
    flex-wrap: wrap; }

  .card {
    aspect-ratio: 5/4;
    max-height: 100%;
    width: calc(33.333% - 1rem); } }
.heading + .item {
  margin-top: 1rem; }

.item {
  color: var(--color-text-body);
  display: flex;
  padding: 2rem 1.5rem;
  border-radius: var(--radius);
  border: 1px solid transparent;
  margin: -1px -1.5rem 0;
  position: relative;
  text-decoration: none;
  transition: all var(--motion); }

.item:hover {
  background-color: var(--color-bg-hover);
  border-color: var(--color-border);
  box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09), 0 0.063em 0.125em rgba(0, 0, 0, 0.07); }

.item:not(:last-child)::after {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-border);
  content: '';
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: -1px; }

.item-left {
  display: flex;
  width: 100%; }

.item-logo {
  fill: var(--color-text-tertiary);
  flex-shrink: 0;
  height: 32px;
  margin-right: 1rem;
  margin-top: .333rem;
  width: 32px;
  transition: all var(--motion); }

.item:hover .item-logo.logo-okta {
  fill: var(--color-brand-okta); }

.item:hover .item-logo.logo-spoke {
  fill: var(--color-brand-spoke); }

.item:hover .item-logo.logo-dwell {
  fill: var(--color-brand-dwell); }

.item:hover .item-logo.logo-agrilyst {
  fill: var(--color-brand-agrilyst); }

.item:hover .item-logo.logo-fusion {
  fill: var(--color-brand-fusion); }

.item:hover .item-logo.logo-industry {
  fill: var(--color-brand-industry); }

.item:hover .item-logo.logo-connecthv {
  fill: var(--color-brand-connecthv); }

.item:hover .item-logo.logo-creativehv {
  fill: var(--color-brand-creativehv); }

.item:hover .item-logo.logo-playbook {
  fill: var(--color-brand-playbook); }

.item:hover .item-logo.logo-stockade {
  fill: var(--color-brand-stockade); }

.item:hover .item-logo.logo-talentbase {
  fill: var(--color-brand-talentbase); }

.item-content {
  display: flex;
  flex-direction: column; }

.item-name {
  font-size: 1rem;
  margin: 0; }

.item-role {
  color: var(--color-text-secondary); }

.item-years {
  display: none; }

@media only screen and (min-width: 560px) {
  .item-years {
    display: inline-block;
    flex-shrink: 0;
    text-align: right; } }
.media {
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75rem); }

.media a {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%; }

.media-cover {
  background-color: var(--bg-hover-color);
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 0.5rem; }

.book .media-cover {
  aspect-ratio: 6/9; }

.media-title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.333; }

.media.favorite .media-title::before,
.reading-star::before {
  content: '★';
  color: #fbbf24;
  margin-right: 0.25em; }

.reading-star {
  color: #fbbf24; }

a.reading-star {
  color: unset; }

.media-meta {
  color: var(--color-text-secondary); }

.media-link {
  text-decoration: none;
  color: var(--color-text-body); }

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; }

.genre-heading {
  margin-bottom: 2rem; }

@media only screen and (min-width: 560px) {
  .genre-heading {
    margin-left: -1.5rem; }

  .media {
    width: calc(33% - 1.333rem); } }
@media only screen and (min-width: 900px) {
  .media {
    width: calc(25% - 1.5rem); }

  .book {
    width: calc(20% - 1.6rem); } }
.article {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem; }

.article .item-content {
  gap: 0.5rem; }

.article .item-name {
  font-size: initial; }

.article-external {
  width: 1.714285714rem;
  height: 1.714285714rem;
  stroke: var(--color-text-secondary);
  align-self: center;
  margin-left: 2rem; }

.article:last-child::after {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-border);
  content: '';
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: -1px; }

.meta {
  color: var(--color-text-secondary);
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em; }

.meta li:not(:last-child)::after {
  content: '|';
  margin-left: 0.5em;
  color: var(--color-text-tertiary); }

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid var(--color-border); }

.item + .pagination {
  border-top: 0; }

.pagination-right {
  margin-left: auto; }

.pagination a,
.back-button {
  color: var(--color-text-body);
  position: relative;
  max-width: 50%; }

.pagination a span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pagination-left {
  padding-right: 1em; }

.pagination-right {
  padding-left: 1em; }

.pagination-left::before,
.pagination-right::after,
.back-button::before {
  color: var(--color-text-secondary);
  letter-spacing: 0;
  position: absolute;
  transition: all var(--motion); }

.pagination-left::before,
.back-button::before {
  font-family: 'Inter';
  content: '<-';
  left: -1.25rem; }

.pagination-right::after {
  font-family: 'Inter';
  content: '->';
  right: -1.25rem; }

.pagination-left:hover::before,
.back-button:hover::before {
  transform: translateX(-0.25em); }

.pagination-right:hover::after {
  transform: translateX(0.25em); }

.back-button {
  color: var(--color-text-secondary);
  margin-top: -2em;
  margin-bottom: 0.25em;
  text-decoration-color: transparent !important; }
  .back-button:hover, .back-button:focus {
    text-decoration-color: var(--color-text-tertiary) !important; }

.infobox {
  background-color: var(--color-bg-hover);
  border-radius: var(--radius);
  color: var(--color-text-secondary);
  font-size: 0.875em;
  font-style: italic;
  padding: 1.5rem; }

.tweet {
  background-color: var(--color-bg-hover);
  border-radius: var(--radius);
  font-size: 1.25em;
  padding: 1.5rem;
  text-decoration: none !important; }

.tweet p {
  margin-bottom: 1.5rem; }

.tweet svg {
  flex-shrink: 0;
  margin: 0.5rem 0;
  width: 2rem;
  height: 2rem; }

.tweet-link {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  text-decoration: none !important; }
  .tweet-link div strong,
  .tweet-link div span {
    display: block;
    width: 100%; }
  .tweet-link div span {
    color: var(--color-text-secondary); }

.button-container {
  display: flex;
  max-width: 50rem;
  width: 100%; }

@media only screen and (min-width: 560px) {
  .back-button {
    margin-bottom: 0.5em;
    margin-top: -2.25em; } }
@media only screen and (min-width: 900px) {
  .back-button {
    margin-bottom: 1.25em;
    margin-top: -3em; } }
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%; }

.field-double {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }

.field {
  display: flex;
  flex-direction: column;
  font-size: 1rem; }

label {
  color: var(--color-text-secondary);
  margin-bottom: 0.25rem; }

input,
textarea {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 0.5em; }

input:hover,
textarea:hover {
  background-color: var(--color-text-body); }

input:focus,
textarea:focus {
  background-color: var(--color-text-body);
  border-color: var(--color-text-tertiary);
  outline: var(--color-primary) solid 2px; }

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 12rem; }

@media only screen and (min-width: 560px) {
  .field-double {
    flex-direction: row; } }
.prose a {
  text-decoration-color: var(--color-primary); }

.prose a:hover,
.prose a:focus {
  text-decoration-color: var(--color-text-body); }

.prose {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%; }

.prose-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: clamp(1.142857143rem, 2.5vw, 1.285714286rem);
  gap: 1.5em;
  width: 100%; }

.prose-body li:not(:last-child) {
  margin-bottom: 0.5em; }

.prose-body * {
  line-height: 1.65; }

.prose p,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose blockquote,
.prose ul,
.prose ol,
.prose hr,
.prose-body div {
  margin: 0;
  max-width: 50rem;
  width: 100%; }

.prose-body h1,
.prose-body h2,
.prose-body h3,
.prose-body h4,
.prose-body h5,
.pros-body h6 {
  margin-top: calc(1em + 0.5rem); }

.prose blockquote {
  box-sizing: border-box;
  border-left: 4px solid var(--color-primary);
  padding: 2rem;
  background-color: var(--color-bg-hover);
  font-style: italic;
  width: 100%; }

.prose blockquote cite {
  color: var(--color-text-secondary);
  display: inline-block;
  margin-top: 1em;
  font-style: normal; }

.prose blockquote cite::before {
  content: '— '; }

.prose img,
.prose iframe {
  background-color: var(--color-bg-hover);
  width: 100%; }

.prose iframe {
  aspect-ratio: 16/9;
  margin: 1.5em 0; }

.prose hr {
  border-color: var(--color-text-tertiary);
  width: 100%; }

.prose figure {
  margin: 1.5em 0;
  width: 100%; }

.prose figure img {
  vertical-align: middle; }

.prose figcaption {
  text-align: center;
  font-size: 0.888888889em;
  line-height: 1.5;
  color: var(--color-text-secondary);
  font-style: italic;
  margin-top: 0.5em; }

.prose .highlighter-rouge {
  background-color: var(--color-bg-hover);
  border-radius: var(--radius);
  font-size: 1rem;
  overflow: scroll; }

.prose .highlighter-rouge code {
  display: inline-block;
  padding: 1rem; }

.prose-header {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 1.5rem; }

.prose .button {
  align-self: flex-start; }

.highlight .c {
  color: #777777; }
.highlight .err {
  color: #a61717; }
.highlight .k {
  color: #F49D61; }
.highlight .o {
  color: #F49D61; }
.highlight .cm {
  color: #998;
  font-style: italic; }
.highlight .cp {
  color: #F1F1F1; }
.highlight .c1 {
  color: #998;
  font-style: italic; }
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }
.highlight .gd {
  color: #000;
  background-color: #fdd; }
.highlight .gd .x {
  color: #000;
  background-color: #faa; }
.highlight .ge {
  font-style: italic; }
.highlight .gr {
  color: #a00; }
.highlight .gh {
  color: #999; }
.highlight .gi {
  color: #000;
  background-color: #dfd; }
.highlight .gi .x {
  color: #000;
  background-color: #afa; }
.highlight .go {
  color: #888; }
.highlight .gp {
  color: #555; }
.highlight .gs {
  font-weight: bold; }
.highlight .gu {
  color: #aaa; }
.highlight .gt {
  color: #a00; }
.highlight .kc {
  font-weight: bold; }
.highlight .kd {
  color: #EDE480; }
.highlight .kp {
  font-weight: bold; }
.highlight .kr {
  font-weight: bold; }
.highlight .kt {
  color: #458;
  font-weight: bold; }
.highlight .m {
  color: #099; }
.highlight .s {
  color: #BDDCDC; }
.highlight .na {
  color: #B4D388; }
.highlight .nb {
  color: #92BFBF; }
.highlight .nc {
  color: #92BFBF; }
.highlight .no {
  color: #008080; }
.highlight .ni {
  color: #F18260; }
.highlight .ne {
  color: #900;
  font-weight: bold; }
.highlight .nf {
  color: #92BFBF; }
.highlight .nn {
  color: #555; }
.highlight .nt {
  color: #B4D388; }
.highlight .nv {
  color: #F49D61; }
.highlight .ow {
  font-weight: bold; }
.highlight .w {
  color: #bbb; }
.highlight .mf {
  color: #099; }
.highlight .mh {
  color: #099; }
.highlight .mi {
  color: #099; }
.highlight .mo {
  color: #099; }
.highlight .sb {
  color: #d14; }
.highlight .sc {
  color: #d14; }
.highlight .sd {
  color: #d14; }
.highlight .s2 {
  color: #d14; }
.highlight .se {
  color: #d14; }
.highlight .sh {
  color: #d14; }
.highlight .si {
  color: #d14; }
.highlight .sx {
  color: #d14; }
.highlight .sr {
  color: #009926; }
.highlight .s1 {
  color: #BDDCDC; }
.highlight .ss {
  color: #990073; }
.highlight .bp {
  color: #999; }
.highlight .vc {
  color: #008080; }
.highlight .vg {
  color: #008080; }
.highlight .vi {
  color: #008080; }
.highlight .il {
  color: #099; }
.highlight .nx {
  color: #F49D61; }
.highlight .p {
  color: #F1F1F1; }
