---
title: Contact
permalink: "/contact/"
layout: page
nav: Contact
description: Contact Jordan Koschei to talk about product design, career advice, or life in the Hudson Valley.
---

<p>Want to get in touch? Great — I love hearing from people. This form goes straight to my inbox. No spammers, please!</p>

<form class="contact" method="POST" action="https://formspree.io/jordan@jordankoschei.com">
    <div class="field field-double">
        <div class="field-half">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" autofocus="true" />
        </div>

        <div class="field-half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" />
        </div>
    </div>

    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>

  <button type="submit">Send</button>
</form>

<hr>

<h4>I'd love to hear from you if:</h4>
<ul>
  <li>You're interesting in having me <strong>consult</strong> for your company or organization.</li>
  <li>You're just starting out and are looking for <strong>career advice</strong>.</li>
  <li>You live in (or are passing through) <strong>the Hudson Valley</strong> and would like to talk shop.</li>
  <li>You'd like me to <strong>write for your publication</strong>. (Paid writing only, please.)</li>
  <li>You want to <strong>discuss</strong> something I wrote, <strong>share</strong> something relevant, or have a <strong>civil discussion</strong> about why you disagree.</li>
  <li>You're interested in having me <strong>speak at your event</strong>.</li>
</ul>

<h4>I probably won't respond if:</h4>
<ul>
  <li>You're looking for a quick/cheap website.</li>
  <li>You want to argue over something I wrote.</li>
  <li>You're trying to sell me your SEO or marketing services.</li>
</ul>