<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}

    <div class="container top">
        <h1><span class="jordan">Jordan Koschei</span> is a product designer and engineer who brings software projects from <span class="emphasis">idea to reality</span>.</h1>
        <p class="big">I've been working remotely for 15+ years as a designer and engineer, most recently as a Principal Product Designer at <a href="https://www.okta.com" target="_blank">Okta</a>.</p>
        <p class="big">On the side, I build software for the Hudson Valley creative community. I was previously the managing editor of <em>The Industry</em>.</p>
    </div>

    <div class="grid grid-cards">
        <a href="{{ site.url }}/work/okta" class="card card-big card-okta">
            <img src="/assets/img/tiles/okta.jpg" alt="Okta" />
            <span class="card-eyebrow">Case study</span>
            <div class="card-content">
                <h3 class="card-title">Okta — Odyssey Design System</h3>
                <span class="card-subtitle">Leading identity and security platform</span>
            </div>
        </a>
        <a href="{{ site.url }}/work/connecthv" class="card card-big card-connecthv">
            <img src="/assets/img/tiles/connecthv.jpg" alt="ConnectHV" />
            <span class="card-eyebrow">Case study</span>
            <div class="card-content">
                <h3 class="card-title">ConnectHV — Solo project</h3>
                <span class="card-subtitle">Online directory and community platform</span>
            </div>
        </a>
        <a href="https://alistapart.com/article/ux-for-the-enterprise/" target="_blank" class="card card-ala">
            <img src="assets/img/tiles/ala.jpg" alt="UX for the Enterprise" />
            <span class="card-eyebrow">Essay</span>
            <div class="card-content">
                <h3 class="card-title">UX for the Enterprise</h3>
                <span class="card-subtitle"><em>A List Apart</em></span>
            </div>
        </a>
        <a href="{{ site.url }}/digital-terroir" class="card card-digitalterroir">
            <img src="assets/img/tiles/digitalterroir.jpg" alt="The Ashokan Center" />
            <span class="card-eyebrow">Conference talk</span>
            <div class="card-content">
                <h3 class="card-title">Digital Terroir</h3>
                <span class="card-subtitle">CatskillsConf 2018</span>
            </div>
        </a>
        {% for post in site.posts | limit: 1 %}
        <a href="{{ post.url }}" class="card card-writing">
            <img src="assets/img/tiles/writing.jpg" alt="Writing" />
            <span class="card-eyebrow">Recent writing</span>
            <div class="card-content">
                <h3 class="card-title">{{ post.title }}</h3>
                <span class="card-subtitle">{{ post.categories | join: ", " }}</span>
            </div>
        </a>
        {% endfor %}

        <div class="cards-button-container">
            <a href="{{ site.url }}/work" class="button">More work</a>
            <a href="{{ site.url }}/writing" class="button">More writing</a>
        </div>
    </div>

    {% include experience.html %}

    {% include footer.html %}

</body>

</html>
