<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}

    <div class="container top">
        <h1>Listening</h1>
        <p class="big">These are the albums I keep coming back to. This isn’t a comprehensive list of favorites, or my most-listened-to songs, but rather the full albums that I think of when I think “desert island music.”</p>
        <div class="filters">
            <span>Sort by:</span>
            <a href="{{ site.url }}/listening/">Release date</a>
            <a href="{{ site.url }}/listening/abc">Alphabetical</a>
            <a href="{{ site.url }}/listening/genre" class="current">Genre</a>
        </div>
    </div>

    <div class="genres">
        {% assign genres = site.data.listening | group_by: "genre" | sort: "name" %}
        {% for genre in genres %}
            <div>
                <h2 class="genre-header">{{ genre.name }}</h2>
                <ul class="albums">
                {% assign sorted = genre.items | sort: 'title' %}
                {% for i in sorted %}
                    <li class="album">
                        <img src="{{ site.url }}/assets/img/listening/{{ i.slug }}.webp" alt="{{ i.title }}" class="album-cover" />
                        <span class="album-title">{{ i.title }}</span>
                        <span class="album-meta">{{ i.artist }}</span>
                        <span class="album-meta">{{ i.year }}</span>
                        <noscript>
                            {% if i.link_apple %}<a class="album-link" href="{{ i.link_apple }}">Apple Music</a>{% endif %}
                            {% if i.link_spotify %}<a class="album-link" href="{{ i.link_spotify }}">Spotify</a>{% endif %}
                            {% if i.link_other %}<a class="album-link" href="{{ i.link_other }}">Listen</a>{% endif %}
                        </noscript>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    {% include footer.html %}

</body>

</html>