<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}

    <div class="container top">
        <h1>Reading</h1>
        <p class="big">This is an incomplete list of books that I’ve read since 2017. I’ve included Amazon links, but I encourage you to check your local library first, and your local bookstore second.</p>
        <p class="big">Books with a <span class="reading-star">star</span> are my most highly recommended.</p>

        <div class="nav filters js-only">
            <span>Sort by:</span>
            <a href="#recent" class="current">Recently read</a>
            <a href="#alphabetical">Alphabetical</a>
            <a href="#genre">Genre</a>
        </div>
    </div>

    <ul class="grid section" id="recent">
        {% assign sorted = site.data.reading %}
        {% for i in sorted %}
        <li class="media book {% if i.highly_recommend %}favorite{% endif %}">
            <a href="{{ i.link }}" target="_blank">
                <img src="{{ i.image }}" alt="{{ i.title }}" class="media-cover" />
                <span class="media-title">{{ i.title }}</span>
                <span class="media-meta">{{ i.author }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <ul class="grid section js-only" id="alphabetical">
        {% assign sorted = site.data.reading | sort: "title" %}
        {% for i in sorted %}
        <li class="media book {% if i.highly_recommend %}favorite{% endif %}">
            <a href="{{ i.link }}" target="_blank">
                <img src="{{ i.image }}" alt="{{ i.title }}" class="media-cover" />
                <span class="media-title">{{ i.title }}</span>
                <span class="media-meta">{{ i.author }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="genres section js-only" id="genre">
        {% assign genres = site.data.reading | group_by: "genre" | sort: "name" %}
        {% for genre in genres %}
            <div>
                <h2 class="heading genre-heading">{{ genre.name }}</h2>
                <ul class="grid">
                    {% assign sorted = genre.items %}
                    {% for i in sorted %}
                    <li class="media book {% if i.highly_recommend %}favorite{% endif %}">
                        <a href="{{ i.link }}" target="_blank">
                            <img src="{{ i.image }}" alt="{{ i.title }}" class="media-cover" />
                            <span class="media-title">{{ i.title }}</span>
                            <span class="media-meta">{{ i.author }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    {% include footer.html %}

    <script>
        document.querySelector('#alphabetical').classList.add('hidden');
        document.querySelector('#genre').classList.add('hidden');

        document.querySelectorAll('.js-only').forEach((el, i) => {
            el.classList.remove('js-only');
        });

        document.querySelectorAll('.filters a').forEach((el, i) => {
            el.addEventListener('click', (ev) => {
                ev.preventDefault();
                if (el.classList.contains('current')) {
                    return;
                }

                document.querySelector('.filters a.current').classList.remove('current');
                ev.target.classList.add('current');

                let href = ev.target.getAttribute('href');

                document.querySelectorAll('.section').forEach((el, i) => {
                    if ('#' + el.getAttribute('id') === href) {
                        el.classList.remove('hidden');
                    } else {
                        el.classList.add('hidden');
                    }
                });
            });
        });
    </script>
</body>

</html>