<!doctype html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="container top">
        <h1>Writing</h1>
        <p class="big">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum aperiam tenetur nam reprehenderit ab temporibus illum doloremque eligendi eaque, explicabo provident totam esse veniam. Quia aliquam libero maiores facilis minima.</p>
        <nav class="nav tabs">
            <a href="#" class="current">All posts</a>
            <a href="#">Design systems</a>
            <a href="#"><em>The Industry</em> archive</a>
        </nav>
    </div>

    <div class="list container">
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <ul class="item-meta">
                        <li>May 28, 1989</li>
                        <li>Design, The Industry</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>
        <a href="https://okta.com" target="_blank" class="item article">
            <div class="item-left">
                <div class="item-content">
                    <h3 class="item-name">Article title</h3>
                    <span class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officiis cumque nulla quae facere, porro dolore quas tenetur ipsam quisquam exercitationem eum. Beatae explicabo dolor error officia ea facilis reprehenderit!</span>
                    <span class="item-role">Design, The Industry</span>
                </div>
            </div>
        </a>

        <div class="pagination">
            <a href="#" class="pagination-left">Newer</a>
            <a href="#" class="pagination-right">Older</a>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>