<!doctype html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="container top">
        {% if paginator.page == 1 %}
            <h1>Writing</h1>
        {% else %}
            <h1>Page {{ paginator.page }}</h1>
        {% endif %}
        <p class="big">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum aperiam tenetur nam reprehenderit ab temporibus illum doloremque eligendi eaque, explicabo provident totam esse veniam. Quia aliquam libero maiores facilis minima.</p>
        {% include categories.html %}
    </div>

    <div class="list container">
        {% for post in paginator.posts %}
            {% include post.html %}
        {% endfor %}

        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="pagination-left">Newer</a>
            {% endif %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="pagination-right">Older</a>
            {% endif %}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>